/*
 COLORSCHEME 
*/

:root {
	--custom-color-name:;
    --golden-sand: #fcdb72;
	--custom-embellishment-name:;
	--light-sea-green: #16C0B7ff;
	--opaque-light-sea-green: #16C0B7ef;
	--midnight-green: #0A414Aff;
	--opaque-midnight-green: #0A414Aaf;
	--caribbean-current: #156C6Fff;
	--beige: #EEEFD6ff;
	--opaque-beige: #EEEFD6bf;
	--tiffany-blue: #AFE2D6af;
	--gunmetal: #06222Aff;
	--seashell: #ffbec7ff;
}

h1 {
    text-align: center;
}

#loginForm {
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "firstName lastName"
        "email email"
        "password password"
        "passwordConfirmation passwordConfirmation"
        "submit submit";
    max-width: 350px;
}

.menuLink {
    text-align: center;
    display: block;
    margin: 10px 0;
}

    /* login form styling */ 
    #firstName {
        grid-area: firstName;
    }

    #lastName {
        grid-area: lastName;
    }

    #userEmail {
        grid-area: email;
    }

    #userPassword {
        grid-area: password;
    }

    #passwordConfirmation {
        grid-area: passwordConfirmation;
    }
    
    #loginSubmitBtn {
        grid-area: submit;
    }

#copyright {
    text-align: center;
}
